version: '3.8'

services:
  scylla:
    image: scylladb/scylla:5.2
    container_name: scylla
    ports:
      - "9042:9042"
    volumes:
      - scylla_data:/var/lib/scylla
    environment:
      - SCYLLA_ARGS=--broadcast-rpc-address=scylla
    healthcheck:
      test: ["CMD-SHELL", "cqlsh scylla -e 'DESC KEYSPACES'"]
      interval: 30s
      timeout: 10s
      retries: 5

  app:
    image: alfredtran/gin-app:latest
    container_name: go-app
    depends_on:
      scylla:
        condition: service_healthy
    environment:
      SCYLLA_HOST: scylla
      SCYLLA_PORT: 9042
      SCYLLA_KEYSPACE: go_fundraising
      ELASTIC_URL: http://elasticsearch:9200
      APP_PORT: 8080
      ELASTIC_INDEX: campaigns
    ports:
      - "8080:8080"

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: always

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup --include-restarting
    environment:
      - WATCHTOWER_POLL_INTERVAL=30
    restart: always

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:9200/_cluster/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  scylla_data:
  es_data:
