version: '3.8'

services:
  scylla:
    image: scylladb/scylla:5.2
    container_name: scylla
    ports:
      - "9042:9042"
    volumes:
      - scylla_data:/var/lib/scylla
    environment:
      - SCYLLA_ARGS=--broadcast-rpc-address=scylla
    healthcheck:
      test: ["CMD-SHELL", "cqlsh scylla -e 'DESC KEYSPACES'"]
      interval: 30s
      timeout: 10s
      retries: 5

  app:
    image: alfredtran/gin-app:latest
    container_name: go-app
    depends_on:
      scylla:
        condition: service_healthy
    environment:
      SCYLLA_HOST: scylla
      SCYLLA_PORT: 9042
      SCYLLA_KEYSPACE: go_fundraising
      APP_PORT: 8080
    ports:
      - "8080:8080"

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: always

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup --include-restarting
    environment:
      - WATCHTOWER_POLL_INTERVAL=30
    restart: always

volumes:
  scylla_data:
